@using Application.Helpers
@using Domain.Common.Attributes
@{
    ViewData["Title"] = "Anasayfa";
    IEnumerable<Application.Models.SliderModel> sliders = ViewBag.GetSliders;
    IEnumerable<Application.Models.AnnouncementModel> announcements = ViewBag.GetAnnouncements;
    IEnumerable<Application.Models.SchoolForHomeModel> schools = ViewBag.GetSchools;
    IEnumerable<Application.Models.VideoModel> videos = ViewBag.GetVideos;
}

<section class="menu section-padding">
    <div class="slider" style="margin:auto;position:relative;">
        @if (sliders.Count() > 0)
        {
            foreach (var slider in sliders)
            {
                <div style="margin:auto;">
                    <img src="@slider.ImageURL" title="@slider.Title"  style="margin:auto;width:900px; height:600px;">
                </div>
            }
        }
    </div>
</section>

<section class="menu section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-lg-5 mb-4">Okullarımız</h3>
            </div>
            @if (schools.Count() > 0)
            {
                foreach(var school in schools){
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                <img src="@school.PhotoPath" class="img-fluid menu-image" width="100%" height="100%" alt="">
                                <span class="menu-tag bg-warning">@school.DistrictName</span>
                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h6 class="mb-0">@school.Name</h6>
                            </div>
                            <div class="row">
                                <a href="@Url.Action("Detail","Schools", new {schoolId = school.Id})"><span class="price-tag bg-white shadow-lg ms-">Detay</span></a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div><br /><br />
        <div class="row">
            <h6 class="text-center mb-lg-5 mb-4"><a href="@Url.Action("Index","Schools")">Tümü --></a></h6>
        </div>
    </div>
</section>

<section class="news section-padding">
    <div class="container">
        <div class="col-12">
            <h3 class="text-center mb-lg-5 mb-4">Duyurular & Seminerler</h3>
        </div>
        @if (announcements.Count() > 0)
        {
            foreach (var announcement in announcements.Take(3))
            {
                <div class="row">

                    <div class="col-lg-3 col-12 mb-2">
                        <a href="@Url.Action("Detail","News", new {announcementId = announcement.Id})">
                            <img src="@announcement.MainImage" class="img-fluid news-image" alt="">
                        </a>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="news-text-info">
                            @{
                                var color = announcement.AnnouncementType.GetAttribute<ColorAttribute>().Name;
                                                                <span class="category-tag me-3 bg-@color">@EnumHelper.GetDisplayName(announcement.AnnouncementType)</span>
                            }


                            <strong>@announcement.CreatedTime.ToShortDateString()</strong>

                            <h5 class="news-title mt-2">
                                <a href="@Url.Action("Detail","News", new {announcementId = announcement.Id})" class="news-title-link">@announcement.Title</a>
                            </h5>
                            <p><a href="@Url.Action("Detail","News", new {announcementId = announcement.Id})">Detay Görüntüle --></a></p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
                <p>Duyuru bulunmamaktadır</p>
        }
        <div class="row">
            <h6 class="text-center mb-lg-5 mb-4"><a href="@Url.Action("Index","News")">Tümü --></a></h6>
        </div>
    </div>
</section>

<section class="videos section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-lg-5 mb-4">Videolar</h3>
            </div>
            <div class="row">
                <h6 class="mb-lg-5 mb-4"><a href="https://www.youtube.com/&#64;sifuserhatdemir/videos" target="_blank">Tüm videolar için tıklayınız</a></h6>
            </div>
            <div class="sliderVideo">
                @if (videos.Count() > 0)
                {
                    foreach (var video in videos)
                    {
                        <iframe width="420" height="300" src="@video.Path" frameborder="0" allowfullscreen></iframe>
                    }
                }
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/bxSlider/js/bxslider.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                auto: true,
                autoControls: true,
                stopAutoOnClick: false,
                pager: true,
                slideWidth: 2000,
                //adaptiveHeight: true,
                captions: true,
                responsive: true,
                
            });
            $('.sliderVideo').bxSlider({
                minSlides: 2,
                maxSlides: 2,
                slideWidth: 800,
                slideMargin: 10
            });
        });
    </script>

}