@{
    var currentUser = (Application.Admin.Models.Admin.LoginModel)ViewBag.CurrentUser;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/wingTsunLogo.PNG" />
</head>
<body>
    <div class="container-scroller">
        
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href="@Url.Action("Index","Home")">
                        <img src="~/images/wingTsunLogo.PNG" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index","Home")">
                        <img src="~/images/wingTsunLogo.PNG" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-top">

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <h4 class="mb-1 mt-3">@currentUser.UserName</h4>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">

                            <a href="@Url.Action("LogOut","Admin")" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Çıkış Yap</a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">Anasayfa</span>
                        </a>
                    </li>
                    <li class="nav-item nav-category">Sayfalar</li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#admins" aria-expanded="false" aria-controls="admins">
                            <i class="menu-icon mdi mdi-account-supervisor"></i>
                            <span class="menu-title">Yöneticiler</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="admins">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Create","Admin")">Yönetici Ekle</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Admin")">Yönetici Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#sliders" aria-expanded="false" aria-controls="sliders">
                            <i class="menu-icon mdi mdi-card-text-outline"></i>
                            <span class="menu-title">Slider</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="sliders">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Create","Slider")">Slider Ekle</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Slider")">Slider Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#schools" aria-expanded="false" aria-controls="schools">
                            <i class="menu-icon mdi mdi-office-building"></i>
                            <span class="menu-title">Okullar</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="schools">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Create","School")">Okul Ekle</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","School")">Okul Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#announcements" aria-expanded="false" aria-controls="announcements">
                            <i class="menu-icon mdi mdi-bell"></i>
                            <span class="menu-title">Duyurular</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="announcements">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","Announcement")">Duyuru Ekle</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Announcement")">Duyuru Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#gallery" aria-expanded="false" aria-controls="gallery">
                            <i class="menu-icon mdi mdi-camera"></i>
                            <span class="menu-title">Galeri</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="gallery">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Create","Gallery")">Resim Ekle</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Gallery")">Resim Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#video" aria-expanded="false" aria-controls="video">
                            <i class="menu-icon mdi mdi-video"></i>
                            <span class="menu-title">Videolar</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="video">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","Video")">Video Ekle</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Video")">Video Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="contact">
                            <i class="menu-icon mdi mdi-phone"></i>
                            <span class="menu-title">İletişim</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="contact">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","Contact")">İletişim Ekle</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Contact")">İletişim Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#about" aria-expanded="false" aria-controls="about">
                            <i class="menu-icon mdi mdi-book"></i>
                            <span class="menu-title">Hakkımızda</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="about">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","About")">Hakkımızda Ekle</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","About")">Hakkımızda Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#socialmedia" aria-expanded="false" aria-controls="socialmedia">
                            <i class="menu-icon mdi mdi-comment-account"></i>
                            <span class="menu-title">Sosyal Medya</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="socialmedia">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","SocialMedia")">Sosyal Medya Ekle</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","SocialMedia")">Sosyal Medya Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                @RenderBody()
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/vendors/progressbar.js/progressbar.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
    @await RenderSectionAsync("Scripts",required: false)
</body>

</html>

