@using Application.Helpers
@using Domain.Common.Attributes
@{
    ViewData["Title"] = "Duyurular & Seminerler";
}
@model IEnumerable<Application.Models.AnnouncementModel>
<header class="site-header site-news-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 mx-auto">
                <h3 class="text-white">Blog</h3>
            </div>

        </div>
    </div>

    <div class="overlay"></div>
</header>
<section class="news section-padding">
    <div class="container">
        <div class="row">
            <div class="container">
                @if (Model.Count() > 0)
                {
                    foreach (var announcement in Model)
                    {
                        <div class="row">

                            <div class="col-lg-3 col-12 mb-2">
                                <a href="news-detail.html">
                                    <img src="@announcement.MainImage" class="img-fluid news-image" alt="">
                                </a>
                            </div>

                            <div class="col-lg-6 col-12">

                                <div class="news-text-info">
                                    @{
                                        var color = announcement.AnnouncementType.GetAttribute<ColorAttribute>().Name;
                                        <span class="category-tag me-3 bg-@color">@EnumHelper.GetDisplayName(announcement.AnnouncementType)</span>
                                    }
                                    

                                    <strong>@announcement.CreatedTime.ToShortDateString()</strong>

                                    <h5 class="news-title mt-2">
                                        <a href="@Url.Action("Detail", new {announcementId = announcement.Id})" class="news-title-link">@announcement.Title</a>
                                    </h5>
                                    <p><a href="@Url.Action("Detail", new {announcementId = announcement.Id})">Detay Görüntüle --></a></p>
                                </div>

                            </div>

                        </div>
                    }
                }
                else
                {
                    <p>Duyuru bulunmamaktadır.</p>    
                }
            </div>
        </div>
    </div>
</section>
